@model IEnumerable<PaseosEcologicos.Model.Implementos>

@{
    ViewBag.Title = "Index";
}

<h2>Implementos</h2>

<p>
    @Html.ActionLink("Crear Implementos", "Create",null, new  {@class = "btn btn-default"})
</p>
<table class="table">
    <tr>
        <th></th>       
        <th>
            Titulo
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Precio
        </th>
        <th>
            Servicio
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
            <td>
			@item.Titulo
        </td>
        <td>
			@item.Descripcion
        </td>
        <td>
			@String.Format("{0:F}", item.Precio)
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Servicios.Titulo).ToString()
        </td>
    </tr>
}

</table>


