@model PaseosEcologicos.Model.Tipos_De_Servicios

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tipos_De_Servicios</legend>

    <div class="display-label">Titulo</div>
    <div class="display-field">@Model.Titulo</div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">@Model.Descripcion</div>

    <div class="display-label">Servicios</div>
    <div class="display-field">@(Model.Servicios == null ? "None" : Model.Servicios.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


