@model PaseosEcologicos.Model.Tipos_De_Servicios

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<fieldset>
    <legend>Tipos De Servicios</legend>
    <div class="form-group">
        <div class="display-label">Titulo</div>
        <div class="display-field form-control" disabled>@Model.Titulo</div>
    </div>
    <div class="form-group">
        <div class="display-label">Descripcion</div>
        <div class="display-field form-control" disabled>@Model.Descripcion</div>
    </div>
    <div class="form-group">
        <div class="display-label">Servicios</div>
        <div class="display-field form-control" disabled>@(Model.Servicios == null ? "None" : Model.Servicios.Count.ToString())</div>
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }, new  {@class = "btn btn-default"}) |
    @Html.ActionLink("Atrás", "Index", null, new  {@class = "btn btn-default"})
</p>


