<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mantenimientos Paseos Ecologicos</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                   @* <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")*@
                    <div class="logo">
                        <span class="P">Paseos</span>
                        <span class="E">Ecologicos</span>
                    </div>    
                    @*</p>*@
                </div>
                <style>
               .logo {
                   position: relative;

               }
               .logo .P, .logo .E {
                   float: left;
                   font-size: 35px;

               }
               .logo .P {
                    font-family: fantasy;
                    color: rgba(0, 173, 49, 0.44);
               }
                .logo .E {
                color: rgba(9, 117, 0, 0.57);
                }
                </style>
                <div class="float-right">
                    @*<section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
                    <nav>
                        <ul id="menu">
                            
                            <li>@Html.ActionLink("Tipos de Servicios","Index","TiposDeServicios")</li>         
                            <li>@Html.ActionLink("Servicios","Index","Servicios")</li>         
                            <li>@Html.ActionLink("Implementos","Index","Implementos")</li>
                             <li>@Html.ActionLink("Paseos","Index","Paseos")</li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
