@model PaseosEcologicos.Model.Paseos

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Paseos</h2>

<h3>Seguro que lo desea eliminar?</h3>
<fieldset>
    <legend>Paseos</legend>
    <div class="form-group">
        <div class="display-label">Titulo</div>
        <div class="display-field form-control" disabled>@Model.Titulo</div>
    </div>
    <div class="form-group">
        <div class="display-label">Descripcion</div>
        <div class="display-field form-control" disabled>@Model.Descripcion</div>
    </div>
    <div class="form-group">
        <div class="display-label">FechaDePartida</div>
        <div class="display-field form-control" disabled>@String.Format("{0:g}", Model.FechaDePartida)</div>
    </div>
    <div class="form-group">
        <div class="display-label">Precio</div>
        <div class="display-field form-control" disabled>@String.Format("{0:F}", Model.Precio)</div>
    </div>
    <div class="form-group">
        <div class="display-label">Reservaciones</div>
        <div class="display-field form-control" disabled>@(Model.Reservaciones == null ? "None" : Model.Reservaciones.Count.ToString())</div>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="btn" value="Eliminar" /> |
          @Html.ActionLink("Atrás", "Index", null, new  {@class = "btn btn-default"})
    </p>
}


