@model IEnumerable<PaseosEcologicos.Model.Paseos>

@{
    ViewBag.Title = "Index";
}

<h2>Paseos</h2>

<p>
    @Html.ActionLink("Crear Paseo", "Create",null, new  {@class = "btn btn-default"})
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Titulo
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Fecha De Partida
        </th>
        <th>
            Precio
        </th>
        <th>
            Reservaciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Titulo
        </td>
        <td>
			@item.Descripcion
        </td>
        <td>
			@String.Format("{0:g}", item.FechaDePartida)
        </td>
        <td>
			@String.Format("{0:F}", item.Precio)
        </td>
        <td>
			@(item.Reservaciones == null ? "None" : item.Reservaciones.Count.ToString())
        </td>
    </tr>
}

</table>


