@model PaseosEcologicos.Model.vReporteDeCosumo

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.ReservacionId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ReservacionId)
    @Html.ValidationMessageFor(model => model.ReservacionId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PaseoId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PaseoId)
    @Html.ValidationMessageFor(model => model.PaseoId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TituloDePaseo)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TituloDePaseo)
    @Html.ValidationMessageFor(model => model.TituloDePaseo)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ClienteId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ClienteId)
    @Html.ValidationMessageFor(model => model.ClienteId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Cliente)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Cliente)
    @Html.ValidationMessageFor(model => model.Cliente)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Celular)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Celular)
    @Html.ValidationMessageFor(model => model.Celular)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Correo)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Correo)
    @Html.ValidationMessageFor(model => model.Correo)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.RepresentateId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.RepresentateId)
    @Html.ValidationMessageFor(model => model.RepresentateId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Representante)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Representante)
    @Html.ValidationMessageFor(model => model.Representante)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TelRepresentante)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TelRepresentante)
    @Html.ValidationMessageFor(model => model.TelRepresentante)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CorreoRepresentante)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CorreoRepresentante)
    @Html.ValidationMessageFor(model => model.CorreoRepresentante)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ServicioId)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ServicioId)
    @Html.ValidationMessageFor(model => model.ServicioId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.TipoDeServicio)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.TipoDeServicio)
    @Html.ValidationMessageFor(model => model.TipoDeServicio)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ServicioConsumido)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ServicioConsumido)
    @Html.ValidationMessageFor(model => model.ServicioConsumido)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PrecioDeServicioConsumido)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PrecioDeServicioConsumido)
    @Html.ValidationMessageFor(model => model.PrecioDeServicioConsumido)
</div>

