@model IEnumerable<PaseosEcologicos.Model.vReporteDeCosumo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <form action="/Reporte/" method="get">
        <div class="col-sm-4">
            <p>Buscar</p>
            <div class="form-group">
                <input type="text" class="form-control" name="query" value="" /> <br />
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>
</p>
<table class="table">
    <tr>
        <th></th>
        @*<th>ReservacionId
        </th>
        <th>PaseoId
        </th>
        <th>TituloDePaseo
        </th>
        <th>ClienteId
        </th>*@
        <th>Cliente
        </th>
        <th>Celular
        </th>
        <th>Correo
        </th>
        @*<th>RepresentateId
        </th>*@
        <th>Representante
        </th>
        <th>TelRepresentante
        </th>
        <th>CorreoRepresentante
        </th>
        <th>ServicioId
        </th>
        <th>TipoDeServicio
        </th>
        <th>ServicioConsumido
        </th>
        <th>PrecioDeServicioConsumido
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
             <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
            @*<td>
                @item.ReservacionId
            </td>
            <td>
                @item.PaseoId
            </td>
            <td>
                @item.TituloDePaseo
            </td>
            <td>
                @item.ClienteId
            </td>*@
            <td>
                @item.Cliente
            </td>
            <td>
                @item.Celular
            </td>
            <td>
                @item.Correo
            </td>
            <td>
                @item.RepresentateId
            </td>
            <td>
                @item.Representante
            </td>
            <td>
                @item.TelRepresentante
            </td>
            <td>
                @item.CorreoRepresentante
            </td>
            <td>
                @item.ServicioId
            </td>
            <td>
                @item.TipoDeServicio
            </td>
            <td>
                @item.ServicioConsumido
            </td>
            <td>
                @String.Format("{0:F}", item.PrecioDeServicioConsumido)
            </td>
        </tr>
    }

</table>


