@model PaseosEcologicos.Model.Servicios

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Servicios</legend>

    <div class="display-label">TipoId</div>
    <div class="display-field">@Model.TipoId</div>

    <div class="display-label">Titulo</div>
    <div class="display-field">@Model.Titulo</div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">@Model.Descripcion</div>

    <div class="display-label">Precio</div>
    <div class="display-field">@String.Format("{0:F}", Model.Precio)</div>

    <div class="display-label">Implementos_Obligatorios</div>
    <div class="display-field">@Model.Implementos_Obligatorios</div>

    <div class="display-label">Implementos</div>
    <div class="display-field">@(Model.Implementos == null ? "None" : Model.Implementos.Count.ToString())</div>

    <div class="display-label">Tipos_De_Servicios</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Tipos_De_Servicios).ToString()</div>

    <div class="display-label">Servicios_Consumidos</div>
    <div class="display-field">@(Model.Servicios_Consumidos == null ? "None" : Model.Servicios_Consumidos.Count.ToString())</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


