@model IEnumerable<PaseosEcologicos.Model.Servicios>

@{
    ViewBag.Title = "Index";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("Crear Servicio", "Create",null, new  {@class = "btn btn-default"})
</p>
<table class="table">
    <tr>
        <th></th>   
        <th>
            Titulo
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Precio
        </th>      
        <th>
            Implementos
        </th>
        <th>
            Tipo de Servicio
        </th>
        <th>
            Cant. Consumida
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>    
        <td>
			@item.Titulo
        </td>
        <td>
			@item.Descripcion
        </td>
        <td>
			@String.Format("{0:F}", item.Precio)
        </td>       
        <td>
			@(item.Implementos == null ? "None" : item.Implementos.Count.ToString())
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Tipos_De_Servicios.Titulo).ToString()
        </td>
        <td>
			@(item.Servicios_Consumidos == null ? "None" : item.Servicios_Consumidos.Count.ToString())
        </td>
    </tr>
}

</table>


